<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
            <img src="http://yashcampus.com/SISDemo1/Images/Colored/CompanyLogo.png" alt="yash campus"
                style="height: 29.80%; border-radius: 10px; box-shadow:0 8px 16px rgba(209, 13, 13, 0.3);">
        </mat-card-header>
        <br>
        <br>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field appearance="outline" style="width: 400px;">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 400px;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <br>
                <div style="margin-top: 10px;"><a href="">Forgot Password?</a></div>
            </mat-card-content>
            <div class="example-button-row">
                <button mat-raised-button color="primary" style="margin-left: 165px;">Log In</button>
            </div>
        </form>
        <br>
        <br>
        <div class="address">
            <b>
                <br>
                <small>401 Onam Plaza, 18 A.B.Road, Indore</small>
                <br>
                <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Helpline Nos. : 6261090651</small>
                <br>
                <small>&nbsp;&nbsp;&nbsp;&nbsp; email :support@yashapps.com</small>
            </b>

        </div>
    </mat-card>


</div>